
<!-- Google firebase -->
<script src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyBmtH5p_So-FKgu3DHmOncamkjI7QvXhfc",
        authDomain: "blog-neharkar-ml.firebaseapp.com",
        databaseURL: "https://blog-neharkar-ml.firebaseio.com",
        projectId: "blog-neharkar-ml",
        storageBucket: "blog-neharkar-ml.appspot.com",
        messagingSenderId: "778132683679"
    };
    firebase.initializeApp(config);
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124529127-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-124529127-1');
</script>
<!-- End  -->