<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preload" href="/css/vishalneha.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <!-- <noscript><link rel="stylesheet" href="/css/vishalneha.css"></noscript> -->
  <link rel="preload" href="/css/syntax.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <!-- <noscript><link rel="stylesheet" href="/css/syntax.css"></noscript> -->

  <link rel="icon" type="image/png" href="/assets/img/favicon.ico" />

  {% seo %}
</head>
