<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- Google Analytics -->
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-124529127-1', 'auto');
      ga('send', 'pageview');
  </script>
  <!-- End Google Analytics -->

  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/vishalneha.css">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" type="image/png" href="/assets/img/favicon.ico" />

  {% seo %}
</head>
