
<footer>
    {% picture team_individual /reduced2048.png alt="Profile picture" %}
    <!-- <hr><img src="/_assets/img/reduced2048.png" alt="portrait" height="200" width="200"> -->
    <p><strong>About the author</strong>:
        Vishal Neharkar is gamer, streetwear enthusiast, tech nerd with a good grasp on internet/gaming/tech culture.
        For updates, follow him on
        <a href="https://twitter.com/">Twitter</a> or <a href="https://github.com/neharkarvishal">GitHub</a>.</p>
    <ul> <li><a href="/">Home</a></li> <li><a href="/blog/">More posts</a></li> </ul>
</footer>