body {
  font-size: 85%;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 1.7;
  text-align: justify;
  color: #525252;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}
.main {
  max-width: 700px;
  margin: 50px auto 50px;
}