body {
  font-size: 85%;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 1.7;
  text-align: justify;
  color: #525252;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Header styling */
h1, h2, strong {
  color: #333;
}
h1, h2, h3, h4, h5, h6 {
  text-align: left;
}
.header-date {
  text-align: right;
}

/* Image styling */
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

/* Code styling */
code, pre {
  color: initial;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: #eceff1;
}
pre {
  padding: 1.2em;
  border-bottom: 1px solid #d8dee9;
  border-left: 2px solid #69c;
}

/* Hyperlink styling */
a:link {
  color: #000;
  text-decoration: underline;
}
a:visited {
  color: #000;
}
a:hover {
  color: #fff;
  background-color: #000;
  text-decoration: none;
}

hr {
    margin: 25px auto 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.75rem 0;
}

table, td, th {
    border: 1px solid black;
    padding: 10px;
}
/* Hamberger menu */
label {
  .hammenu {
    position: absolute;
    right: -100px;
    top: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
    background: #FFF;
    border-radius: 50% 50% 50% 50%;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
  }
  .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
    &:after,
    &:before {
      transition: .5s ease-in-out;
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: #000;
    }
    &:before {
      top: -10px;
    }
    &:after {
      bottom: -10px;
    }
  }
  input {
    display: none;
  }
  input:checked + .hammenu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;
    .hamburger {
      transform: rotate(45deg);
      &:after {
        transform: rotate(90deg);
        bottom: 0;
      }
      &:before {
        transform: rotate(90deg);
        top: 0;
      }
    }
  }

  input:checked + .hammenu + ul {
    opacity: 1;
  }

  ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: .25s 0s ease-in-out;
  }

  a {
    margin-bottom: 1em;
    display: block;
    color: #000;
    text-decoration: none;
  }
}
